/* CSS Document */
#publish_all{
	padding:10px;
	width:940px;
	margin-top:100px;
	background-color:#f7f7f7;
	margin-left:70px;
	min-height:200px;
	height:auto;
	box-shadow:2px 2px 10px #999;
	border-bottom:1px solid #6cf;
	overflow:hidden;}
#publish_a_h3{
	margin-left:20px;}
#publish_fm{
	width:940px;
	overflow:hidden;
	opacity:0;
    height: 280px;
    font-size: 0px;
    position: relative;
    z-index: 10;
    top: -280px;
    filter: alpha(opacity=0);
    cursor: pointer;
	}
#publish_a_fm{
	width:940px;
	height:280px;
	overflow:hidden;
	position:relative;
	background:url(../image/publish_fm.jpg) no-repeat center; 
	opacity:0.6;}
#publish_a_fm_pic{
	height:0px;}
#img{
	 height:270px;
	 float:left;
	 z-index: 9; 
	 position:absolute; 
	 top:160px;
	 margin-top:17px;
	 width:940px;
	 /*max-width:20%;
	 margin-left:15%;*/}
#publish_a_w{
	width:100%;
	margin-top:20px;
	min-height:400px;
	height:auto;
	overflow:hidden;}
.publish_a_w_span{
	font-size:18px;
	}
#bt{
	color:#999; 
	width:370px;}
#labels{
	color:#999;
	width:205px; }
#pub_daoyu{
	color:#999;
	 margin-top:30px; 
	 width:875px;}
#publish_a_w select{
	width:150px;}
#publish_a_submit{
	font-size:24px; 
	border:1px solid #39c; 
	background-color:#39c; 
	color:#FFF; 
	margin-left:370px;
	width:200px;
	margin-top:20px;
	 margin-bottom:30px;}

